.about{
    width:90%;
    height:75vh;
    margin: 20px auto;

    display:flex;
    flex-direction: column;
    align-content: space-between;
}

.aboutTitle h1{
    font-size: 30px;
}

.aboutTitle hr{
    opacity: 0.5;
    margin: 20px 0px 20px 0px;
    background-color: #e5e5e5;
}

.aboutInfosWrapper{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.aboutProfile{
    display:flex;
    flex-direction: column;
    align-items:center;
    
}

.aboutProfile h1{
    
    margin-bottom:30px;

}

.aboutProfile h3{
    color:rgb(115,115,115);
    line-height: 25px;
    text-align: center;
}

.aboutProfileImg{
    width:200px;
    height:auto;
    margin-bottom:50px;
}

.aboutProfileIntroduction p{
    font-size:18px;
    line-height: 30px;
    margin-bottom:22px;
    text-align:justify;
}


.aboutProfileIntroduction ul{
    padding-left:20px;
    line-height: 22px;
}
.aboutProfile, .aboutProfileIntroduction{
    padding:20px;
}