.categories{
    width:90%;
    height:100%;
    margin:200px auto 200px auto;
}

.categoryTitle{
    border:none;
    border-right: solid #E5E5E5;
    padding-right:50px;
}

.categoryItems{
    
    display:flex;
    align-items: center;
    margin-bottom:250px;
}

.categoryItem{
    width:50%;
    display:flex;
    justify-content: flex-start ;
}

.categoryList{
    display:flex;
    flex-flow: row wrap;   
    justify-content: center ;
    list-style-type: none;
    
}



.categoryListItem{
    font-size: 18px;
    line-height: 2.5;
    margin-right:30px;
    color:#63B6B7;
}

.categoryListItem:hover{
    font-size: 18px;
    line-height: 2.5;
    margin-right:30px;
    color:#0E9488;
}

.categoryListItem::first-letter{
    text-transform: uppercase;
}

  /* Responsive styles for screens with a width of 768px or less */
  @media screen and (max-width: 768px) {
    .categories{
        width:90%;
        margin:10px auto;
    }
    .categoryTitle{
        width:90%;
        border:none;
        border-right: solid #E5E5E5;
    }
    
    .categoryItems{
        display:flex;
        flex-direction: column;
    }

    .categoryItem{
        width:100%;
        display:flex;
        justify-content: flex-start ;
    }
        

    .categoryTitle{
        border:none;
        border-bottom: solid #E5E5E5;
        padding-bottom:40px;
    }
  
    .categoryList{
        display:flex;
        flex-flow: row wrap;   
        justify-content: flex-start ;
        list-style-type: none;
        margin:0px;
        padding:0px;
    }
  }