.categoriesInputContainer{
    display:flex;
    align-items:center;
    flex-wrap: wrap;
}

.categoryInputItem{
    font-family: inherit;
    font-size: 20px;
    color:#63B6B7;
    display:inline-block;
    border-radius: 20px;
    margin-right:0.75rem;
    margin-bottom:0.75rem;
}
.categoryInputItem::first-letter{
    text-transform: uppercase;
}

.categoryInputItem .close{
    height:20px;
    width:20px;
    
    display:inline-flex;
    justify-content: center;
    align-content: center;
    cursor: pointer;
}

.categoriesUserInput{
    font-size: 24px;
    border: none;
    width:100%;
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(0 0 0 / 15%);
    padding:10px 0px 10px 10px;
}

.categoriesUserInput::placeholder {
    color: rgb(189, 185, 185);
    font-weight: 400;
  }